@{
    ViewBag.Title = "Title";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="container mt-5">
    @model IEnumerable<task_manager.Models.TaskGroup>
    <div class="d-flex justify-content-between">
        <h4 class="font-weight-bold">TaskGroups</h4>
        <a href="/TaskGroup/AddTaskGroup" class="btn btn-success">Add</a>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">GroupName</th>
                <th scope="col">GroupDescription</th>
                <th scope="col">Board Name</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var t in Model)
            {
                <tr>
                    <th scope="row">@t.GroupId</th>
                    <td>@t.GroupName</td>
                    <td>@t.GroupDescription</td>
                    <td>@Html.DisplayFor(modelItem => t.Board.BoardName)</td>
                    <td>
                        <div class="btn-group" role="group" aria-label="actions">
                            <a href="/TaskGroup/ShowTaskGroup/@t.GroupId" class="btn btn-info">Show</a>
                            <a href="/TaskGroup/EditTaskGroup/@t.GroupId" class="btn btn-warning">Edit</a>
                            <form class="d-inline-block" action="/TaskGroup/PostDeleteTaskGroup" method="post">
                                <input type="hidden" name="id" value="@t.GroupId" />
                                <button type="submit" class="btn btn-danger rounded-right" style="border-radius: 0;">Delete</button>
                            </form>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>